SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_PROJECT_ID=

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_CUSTOMER_EMAIL=
SEED_CUSTOMER_PASSWORD=
SEED_ZAMAN_EMAIL=
SEED_ZAMAN_PASSWORD=
SEED_BURGERS_EMAIL=
SEED_BURGERS_PASSWORD=
